<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking test cases">
  <test thread-count="5" name="Test">
  <!--  Only includeded group will get executed -->
 <!--    <groups>
  
  		<run>
  		
  			<include name="Sanity"/> 
  		
  		</run>
  
  
  </groups>   -->
  
  
  <parameter name="username" value="abc@xyz.com"/>
  <parameter name="password" value="Abcdef123#"/>

  
  
  
    <classes>
     
 
   <!--    <class name= "testNGExample.TestCase1"/>
         <class name= "testNGExample.TestCase2"/>
            <class name= "testNGExample.TestCase3"/>  -->
            
            <class name= "test.LoginTest"/>  
      
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
